# Auto detect text files and perform LF normalization
* text=auto

Makefile linguist-generated
*.svg linguist-generated
*.html linguist-generated
*.css linguist-generated
*.js linguist-generated
*.nix linguist-generated
